body{
  background-color: #D4EFFF;
}

.App {
  width: 75vh;
  height: 85vh;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 5vh;
  border-radius: 15px;
}

.app{
  text-align: center;
  font-size: 30px;
  margin-top: -3vh;
  color: #355370;
}

